*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}
header{
    background: url('./img/head_bac.png');
    overflow: hidden;
}
header .head_top{
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}
header .head_top h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
header .head_top a{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: end;
    color: #1C1B18;
}
header .head_top h3{
font-weight: 900;
font-size: 22px;
line-height: 22px;
color: #1C1B18;
}

header .head_center span i{
border: 2px solid  #EB2629;
padding: 5px;
border-radius:5px;
color: #EB2629;
position: fixed;
top: 2%;
left: 2%;
z-index: 15;
font-size: 30px;

}
.menu{
    width: 280px;
    padding: 0 20px 20px 20px;
    border: 2px solid #EB2629;
    border-radius:5px ;
    display: none;
    position: fixed;
    top: 2%;
    left: 5%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 35;
}


.active{
    color: rgb(0, 255, 55) !important; 
}


header .head_center{
    position: relative;
    padding-bottom: 100px;
}
header .head_center .menu a{
    font-weight: 900;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #EB2629;
    text-shadow: 0px 0px 5px black;
    display: block;
    margin-top: 30px;
    transition: .4s;
}
header .head_center .menu a i{
    font-size: 20px;
}


header .head_center h1{
    margin: 0;
    margin-top: 52px;
 font-weight: 900;
font-size: 56px;
line-height: 80px;
color: #1C1B18;
}
header .head_center p{
    margin: 0;
    width: 50%;
    font-weight: 300;
font-size: 18px;
line-height: 30px;
color: #1C1B18;
margin-top: 38px;
}
header .head_center .map{
    width: 35%;
    margin-top: 38px;
    margin-bottom: 100px;
    position: relative;
}
.mappp{
    position: absolute;
    top: -30%;
    left: 0;
}
header .head_center .map a{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    border-bottom: 2px solid black;
    margin-left: 50%;
}
.car_1{
    width: 5%;
    position: absolute;
    right: -100%;
    top: 3%;
}
/* ======================================================== */

section .sec_top{
    background: url('./img/sec1_bac.png') no-repeat;
    position: relative;

}

section .sec_top h2{
    margin-top: 68px;
font-weight: 900;
font-size: 42px;
line-height: 56px;
color: #FFFFFF;
}
section .sec_top h2 span{
    color: #EB2629;
}
section .sec_top .sect_cart{
    width: 100%;
    background: white;
    box-shadow: 0px 0px 35px #535352;
    text-align: center;
    padding: 20px 40px;
    margin-top: 110px;
    margin-bottom: 70px;
    transition: .5s;
    transform: scale(1);
    cursor: pointer;
}
section .sec_top .sect_cart:hover{
    transform: scale(1.1);
}
section .sec_top .sect_cart h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #EB2629;
}
section .sec_top .sect_cart p{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #1C1B18;
}


/* ======================================= */
section .namber{
    width: 100%;
    height: auto;
    padding: 100px 50px 0px 30px;
    border: 1px solid red;
    position: relative;
    margin-top: 70px;
    margin-bottom: 200px;
}
.nam{
    position: absolute;
    left: 10px;
    top: 10px;
}
section .namber p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    z-index: 25;
   
}
section .namber p span{
font-weight: 900;
}
.car_2{
position: absolute;
left: -100%;
bottom: -2%;
}
/* ================================== */
section .sec_icon h2{
    font-weight: 900;
    font-size: 42px;
    line-height: 56px;
    text-align: center;  
    color: #1C1B18;
    margin: 0;
}
section .sec_icon h6{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
    text-align: center;  
    color: #1C1B18;
    margin-bottom: 40px;
}

section .sec_icon .s_icon{
    position: relative;
    padding: 40px 60px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
section .sec_icon p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
    color: #000000;
    
 }
 section .sec_icon span,
 section .sec_icon2 span{
     font-size: 25px;
     padding: 5px 15px;
     border: 1px solid  #EB2629;
     position: absolute;
     left: 45%;
     top: -13%;
     color: #EB2629;
 }

 /* ============================== */
 section .sec_car3{
     position: relative;
     overflow: hidden;
 }
 section .sec_car3 h2{
     font-weight: 900;
    font-size: 42px;
    line-height: 56px;
    color: #1C1B18;
    margin-top: 100px;
      
 }
 section .sec_car3 h3{
     font-weight: 500;
     font-size: 32px;
     line-height: 56px;
     color: #1C1B18;
     width: 95%;
     margin-bottom: 40px; 
    }
    section .sec_car3 h3 span{
        font-weight: 900;
   color: #EB2629;
    }

.border{
    border: 10px solid #EB2629 !important;
    padding: 50px 70px;
    margin-bottom: 90px;
} 
.border h4{
    font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #1C1B18;
margin-bottom: 30px;
}
.border a{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1C1B18;
    list-style: disc !important;
}
.car_3{
    position: absolute;
    right: -100%;
    top: -20%;
}

/* =============================================== */
section .sec_shina{
    position: relative;

}
section .sec_shina h2{
    font-weight: 900;
font-size: 42px;
line-height: 56px;
text-align: center;
color: #1C1B18;
}
section .sec_shina h2 span{
color: #EB2629;
}
section .sec_shina h4{
    font-weight: 500;
    font-size: 32px;
    line-height: 56px;
    text-align: center;
    color: #1C1B18;
    margin-bottom: 20px;
}
section .sec_shina p{
    padding:0 120px;
}
section .sec_shina img{
margin-right: 20px;
}
.wina{
    width: 18%;
    position: absolute;
    right: 2%;
    bottom: -22%;
    z-index: 5;
}
/* ============================================ */
section .sec_cluc{
    background: url('./img/sec2_black.png') no-repeat;
    position: relative;
    padding-bottom: 600px;
    overflow: hidden;
}
section .sec_cluc h2{
    font-weight: 900;
font-size: 42px;
line-height: 56px;
text-align: center;
color: #FFFFFF;
padding-top: 150px;
}
section .sec_cluc h2 span{
    color: #EB2629;
}
section .sec_cluc .svg{
    border: 1px solid #EB2629;
    border-bottom: 10px solid #EB2629;
    padding: 20px;
    padding-top:150px ;
    margin-top: 100px;
    position: relative;
    color: #FFFFFF;
}
section .sec_cluc .svg h5{
    margin-bottom: 30px;
}
section .svg_img{
    position: absolute;
    left: 30%;
    top: -15%;
}
section .svg_img3{
    position: absolute;
    left: 20%;
    top: -15%;
}
.car_4{
    width: 45%;
    position: absolute;
    right: -100%;
    bottom: 8%;
}
.position{
    position: absolute;
    right: 18%;
    bottom: 14%;
    width: 45%;
    background: #FFFFFF;
    color: #000000;
    padding: 15px 19px 79px 72px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
.position p{
    font-weight: 400;
font-size: 18px;
line-height: 34px;
color: #000000;
}
.position p span{
    font-weight: 900;
}
.position2{
    position: absolute;
    right: 23%;
    bottom: 5%;
    background: #EB2629;
    width: 35%;
    font-weight: 900;
font-size: 36px;
line-height: 50px;
text-align: center;
color: #FFFFFF;
padding: 21px 37px 21px 55px;
box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
.position3{
    width: 15%;
    position: absolute;
    bottom: 4%;
    left: 30%;
}

/* ====================================== */
.sec_logo h2{
    font-weight: 900;
    font-size: 42px;
    line-height: 56px;    
    text-align: center;  
    color: #1C1B18;
}
.sec_logo .s_l_icons .logo_img{
    display: block;
width: 20%;
margin: auto;
}
.sec_logo .s_l_icons .logo_img2{
    display: block;
width: 15%;
margin: auto;
padding: 15px 0;
}
.sec_logo h2 span{
    color: #EB2629;
}
.sec_logo .s_l_icons{
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: 20px 55px 18px 55px;
    margin-top: 50px;
}
.sec_logo .s_l_icons h3{
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;   
    text-align: center;
    color: #1C1B18;
}
.sec_logo .s_l_icons h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;   
    text-align: center;
    color: #1C1B18;
}

/* =================================================== */

section .sec_map_top{
    position: relative;
    margin-bottom: 250px;
}
section .sec_map_top h2{
    font-weight: 900;
font-size: 56px;
line-height: 56px;
color: #1C1B18;
margin-top: 135px;
margin-bottom: 30px;
}
section .sec_map_top h3{
    font-style: 400;
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    color: #1C1B18;
}
section .sec_map_top h4{
    width: 70%;
    background: #EB2629;
    font-style: 400;
font-weight: 900;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;
padding: 20px;
margin-top: 60px;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}
section .sec_map_top span{

    background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
font-weight: 900;
font-size: 36px;
line-height: 56px;
color: #1C1B18;
padding: 16px 50px;
position: absolute;
bottom: -15%;
left: 25%;
}
section .sec_map_top .map{
    margin-top: 38px;
    margin-bottom: 100px;
    position: relative;
}
section .sec_map_top .mappp{
    position: absolute;
    top: -30%;
    left: 0;
}
section .sec_map_top .map a{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    border-bottom: 2px solid black;
    margin-left: 50%;
}
.map_div{
    width:15%;
    position: absolute;
    bottom: -30%;
    left: 45%;
}
.car_5{
    position: absolute;
    right: 20%;
    top: 20%;

}
/* =============================================== */
footer  {
    background: #E5E5E5;
}
footer .foot_map iframe{
    width: 100%;
   color: black;
}
footer .foot_bottom img{
margin-bottom: 30px;
}
footer .foot_bottom a{
display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B18;
    padding-bottom: 20px;
}
footer .foot_bottom span{
    font-weight: 900;
    font-size: 22px;
    line-height: 22px; 
    text-align: center; 
    color: #1C1B18;
}
footer .foot_bottom h2{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #1C1B18;
}
footer .foot_bottom h4{
    font-weight: 400;
font-size: 18px;
line-height: 28px;
text-decoration-line: underline;
color: #000000;
}
footer .foot___ p{
    background: white;
    margin-top: 70px;
    font-weight: 400;
    font-size: 18px;
    padding-top:20px;
    color: #000000;
    text-align: center;
}

@media (max-width:1199px) {
    .car_1{
        top: 40%;
        
    }
    header .head_center h1{
        font-size: 50px;
        line-height: 65px;
    }
    header .head_center .map{
        width: 45%;
    }
    header .head_center span i{
        top: 16%;
        left: 92%;
    }
    .menu{
        top: 17%;
        left: 65%;
    }
    section .sec_top .sect_cart{
        padding: 20px 15px;
    }
    .car_2{
        width: 38%;
    }
    section .namber{
        padding: 100px 0px 0 30px ;
    }
    section .sec_icon h2{
        margin-top: 50px;
    }
    section .sec_icon .s_icon{
        padding: 40px 20px;
    }
    .car_3{
        top: 15% !important;
        width: 45%;
    }
    section .sec_car3 h3{
        line-height: 40px;
    }
    section .sec_shina{
        margin-bottom: 50px;
    }
    section .sec_cluc .svg{
        padding-top: 120px;
    }
    section .svg_img{
        width: 50%;
        left: 28%;
        
    }
    section .svg_img3{
        width: 60%;
        
    }
    .position {
        width:60% ;
        right: 4%;
    }
    .position2{
        width: 50%;
        bottom: 3%;
    }
    .position3 {
        left: 20%;
    }
    section .sec_map_top h3{
        line-height: 40px;
    }
    .car_5 {
        width: 30%;
        right: 6%;
    }
    .map_div{
        width: 27%;
    }
    section .sec_map_top span {
        left: 13%;
        bottom: -14%;
    }
}
@media (max-width:991px) {
    header .head_center h1{
        font-size: 35px;
        line-height: 40px;
    }
    header .head_center p{
        width: 70%;
    }
    header .head_center .map{
        width: 60%;
    }
    .menu{
        left: 58%;
        background: rgba(0, 0, 0, 0.753);   
    }
   
    section .sec_top h2{
        font-size: 36px;
    }
    section .sec_top .sect_cart h3{
        font-size: 16px;
    }
    section .sec_top .sect_cart p {
    font-size: 15px;
    }
    section .sec_top h2{
        margin-top: 0;
    }
    section .namber {
        padding: 38px 10px 25px 10px;
    
    }
    .car_2{
        width: 45%;
    }
    section .sec_icon span{
        left: 38%;
    }
    .sec_icon___ span{
        left: 43% !important;
    }
    .car_3{
        top: 18%;
    }
    section .sec_car3 h3 {
    width: 68%;
    font-size: 28px;
    }
    section .sec_shina h4{
        font-size: 19px;
    }
    section .sec_shina h2 {
    font-size: 32px;
    }
    .wina{
        width: 20%;
    }
    section .svg_img{
        width: 40%;
    }
    section .svg_img3{
        top: -21%;
    }
    .position{
        width: 90%;
    }
    .position2{
        width: 75%;
    }
    .car_4{
        display: none;
    }
    .position3{
        width: 27%;
        bottom: 2%;
        left: 61%;
    }
    section .sec_map_top h2{
        font-size: 45px;
    }
    section .sec_map_top h3{
        font-size: 30px;
    }
    .car_5{
        top: 31%;
    }
    section .sec_map_top h4{
    width: 92%;
    }
    .map_div{
        width: 40%;
    }
    .map_div {
        bottom: -50%;
    }
  
}
@media (max-width:767px){
    .head_center{
        padding-bottom: 0px !important;
    }
    header .head_center h1{
        text-align: center;
        font-weight: 700;
    }
    header .head_center .map a{
        font-size: 12px;
    }
    header .head_center .map{
        width: 40%;
        margin-top: 60px;
    }
    .car_1{
        top: 50%;
    }
    header .head_center span i{
        font-size: 20px ;
        top: 13%;
    }
    .menu{
        top: 18%;
        left: 45%;
        background: rgba(0, 0, 0, 0.753);
    }
    .mappp{
        width: 40%;
    }
    
    section .sec_top h2{
        font-size: 32px;
        font-weight: 700;
        margin: 30px 0;
    }
    section .sec_top .sect_cart{
        margin-top: 0;
    }
    section .sec_top h2{
        line-height: 40px;
    }
    section .namber{
        margin-bottom: 0;
    }
    .nam___ p{
        color: black !important;
    }
    section .sec_icon h2 {
        margin-top: 150px;
    }
    .car_2{
        bottom: -8%;
    }
    section .sec_icon span {
        
        left: 45% !important;
    }
    section .sec_car3 h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    section .sec_car3 h3{
        font-size: 20px;
        line-height: 30px;
    }
    .border h4{
        text-align: center;
    }
    .border{
        padding: 50px 20px;
    }
    section .sec_shina h2 {
line-height: 40px;

}
section .sec_shina h4{
    line-height: 30px;
}
section .sec_shina p{
    padding: 0;
}
section .sec_shina img{
    display: none;
}
section .svg_img{
    width: 50%;
}
section .svg_img3{
    width: 70%;
    top: -15%;
}
section .sec_cluc {
    padding-bottom: 650px;
}
.position{
    bottom: 11%;
}
.position3 {
    width: 30%;
    bottom: 2%;
    left: 67%;
}
.position2 {
    bottom: 4%;
    font-size: 30px;
    line-height: 40px;
}
section .sec_map_top h2{
    font-size: 40px;
}
section .sec_map_top h3{
    font-size: 24px;
    line-height: 34px;
}
section .sec_map_top h4{
    width: 100%;
    font-size: 21px;
}
section .sec_map_top span{
    font-size: 20px;
    padding: 0 50px;
    bottom: -7%;
}
section .sec_map_top{
    margin-bottom: 160px;
}
.map_div{
    bottom: -40%;
    width: 50%;
}

header .head_center span i{
    width: 5.5%;
    display: block;
}

}
@media (max-width:575px){
    section .sec_top h2,
    section .sec_map_top h2,
    section .sec_icon h2,
    .sec_logo h2,
    section .sec_cluc h2,
    section .sec_car3 h2 {
        font-size: 25px;
        line-height: 40px;
        text-align: center;
    }
    header .head_center h1{
        font-size: 25px;
        line-height: 30px;
    }
    header .head_center span i {
       width: 32px;
       left: 85%;
        top: 10%;
    
    }
    .menu{
        left: 4%;
        background: rgba(0, 0, 0, 0.753);
    }
    
    header .head_center p{
        width: 100%;
        text-align: center;
    }
    header .head_center .map{
        width: 70%;
        margin-top: 0;
        z-index: 20;
    }
    .car_1 {
        top: 54%;
     width: 100% !important;
    }
    header .head_center{
        padding-bottom: 150px !important;
    }
    section .namber p{
        color: #EB2629;
    }
    .car_2{
        width: 70%;
        bottom: -7%;
    }
    section .sec_icon h2 {
        margin-top: 170px;
        line-height: 33px;
    }
    section .sec_icon h6{
        line-height: 23px;
    }
    section .sec_icon span {
        left: 41% !important;
    }
    section .sec_car3 h3{
        width: 100%;
    }
    .car_3{
        top: 16% !important;
        width: 50%;
    }
    .border{
        text-align: center;
    }
    section .sec_shina h2{
        font-size: 22px;
        line-height: 27px;  
    }
    section .sec_shina h4{
        font-size: 15px;
    }
    section .sec_shina p{
        text-align: center;
    }
    .svg22{
        color: black !important;
    }
    .position,
    .position2{
        display: none;
    }
    section .sec_cluc{
        padding-bottom: 100px;
    }
    .position3 {
        width: 42%;
        bottom: 1%;
        left: 57%;
    }
    .car_5{
        display: none;
    }
    section .sec_map_top h2 {
        margin-top: 80px;
    }
    section .sec_map_top h3{
        text-align: center;
    }
    section .sec_map_top .map{
        margin-bottom: 50px;
    }
    section .svg_img{
        width: 40%;
        left: 32%;
    }
    section .svg_img3{
        width: 60%;
    }
    .map_div {
        width: 70%;
        left: 20%;
    }
    .text-end,
    .foot_bottom{
        text-align: center !important;
    }
}